*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    height: 10vh;
    background-color: #484848;
    color: white;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

header a {
    color: white;
    background-color: rgb(196 186 134);
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;

    width: 13vw;
    height: 4.5vh;
}

header img {
    max-height: 19vh;
    align-self: center;
    margin-right: 9vw;
}