* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color:  rgb(196 186 134);
}

/* Rodapé */
footer {
    height: 10vh;
    background-color: #484848;
    color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer img {
    max-height: 9vh;
    margin: 0 10px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}

/* Configurações de cabeçalho */
header {
    height: 10vh;
    background-color: #484848;
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
header a {
    color: white;
    background-color: rgb(196 186 134);
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;

    width: 13vw;
    height: 4.5vh;
}
header img {
    max-height: 10vh;
    align-self: center;
    margin-right: 9vw;

}
/* Fim das configurações de cabeçalho */

section {
    background-color:  #5c5b5b;
}

h1 {
    margin: 40px;
    font-size: 55;
    color: rgb(196 186 134);
    text-align: center;

}

.dep1{
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgb(0, 0, 0);
    padding: 39px;
    margin: 30px;
}


.dep1 img{
width: 261px
}

.dep2 img{
width: 350px;    
}

.dep3 img{
width: 450px;   
}

.dep4 img{
width: 350px;    
}

h2 {
    color: rgb(196 186 134)
}
p {
    color: aliceblue;
}

footer {
    height: 10vh;
    background-color: #484848;
    color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer img {
    max-height: 9vh;
    margin: 0 10px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
}

@media(max-width:750px) {
    header a {
        font-size: 11px;
        padding: 2.5px;
        padding-top: 5px;
        width: 18vw;
    }
    header a:nth-child(5) {
        margin-right: 10px;
    }
    footer p {
        font-size: 9px;
    }
    footer img {
        max-height: 7vh;
    }
    header img {
        max-height: 5vh;
    }
    header {
        gap:5px
    }
}